@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

$white: #FFFFFF;
$black: #000000;
$sans: 'Noto Sans JP', sans-serif;
$serif: 'Noto Serif JP', serif;

$breakpoints: (
'sp': (max-width: 480px),
'tab': (max-width: 1024px),
'pc': (min-width: 1025px)
) !default;
@mixin media($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
}

@mixin wrap($x:1rem){
    max-width: calc(1000px + $x + $x);
    margin: auto;
    padding: 0 $x;
}

.is_pc,
.is_tab,
.is_onlytab,
.is_sp{
    display: none;
}
@include media(sp){
    .is_sp{
        display: block;
    }
}
@include media(tab){
    .is_tab{
        display: block;
    }
}
@media screen and (min-width: 481px) and (max-width: 1024px){
    .is_onlytab{
        display: block;
    }
}
@include media(pc){
    .is_pc{
        display: block;
    }
}

@mixin title{
    text-align: center;
    padding-top: 100px;
    @include media(sp){
        padding-top: 50px;
    }
}

@mixin bgSpecial($img:bgspecial, $pattern:1, $flip:false){
    background-image: url(../img/#{$img}.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    @media (max-width: 768px){
        background-attachment: scroll;
    }
    
    &:before{
        content: "";
        position: absolute;
        background: url(../img/slice_pattern#{$pattern}.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 274px;
        display: block;
        background-size: 100%;
    }
    > img{
        visibility: hidden;
    }
    .triangle{
        @if $flip == true {
            transform: scaleX(-1);
        }
        @media (max-width: 768px){
            display: none;
        }
    }
}

@mixin button($size:710){
    text-align: center;
    padding-bottom: 10px;
    
    a{
        width: 100%;
        max-width: #{$size}px;
        height: 90px;
        background-color: $white;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border: 1px solid;
        border-radius: 50px;
        box-shadow: 6px 6px 0px $black;
        position: relative;
        @include media(sp){
            height: 64px;
            font-size: 22px;
        }
        
        svg{
            position: absolute;
            right: 38px;
            @include media(sp){
                width: 34px;
                right: 13px;
            }
        }
    }
}

@mixin sales{
    text-align: center;
    margin-bottom: 30px;
    
    .title{
        display: flex;
        align-items:center;
        @include title();
            font-size: 42px;
            text-align: center;
            line-height: 1.8;
            padding-bottom: 10px;
            padding-top: 0px;
        @include media(tab){
            padding-bottom: 10px;
            font-size: 30px;
        }        
        &::after{
            content: '';
            flex-grow: 1;
            height: 1px;
            background: black;
            margin-left: 25px;
            margin-top: 10px;
        }
        &::before{
            @extend ::after;
            margin-left: 0;
            margin-right: 25px;
        }
    }

    p{
        font-size: 16px;
        padding-bottom: 10px;
        font-family: $serif;
        @include media(tab){
            padding-bottom: 10px;
            font-size: 15px;
        }
    }
    
    &-img{
        display: flex;
        justify-content: left;
        gap: 30px;
        flex-wrap: wrap;
        @include media(tab){
            justify-content: center;
        }

        a{
            figure{
                img{
                    @include media(tab){
                        width: 380px;
                        max-width: 100%;
                    }
                }
            }
            
            figcaption{
                margin: 0;
                text-align: left;
                h4{
                    line-height: 1.3;
                    font-size: 15px;
                    margin: 0;
                    padding: 0;
                    font-family: $serif;
                    @include media(tab){
                        font-size: 14px;
                    }
                }
                
                p{
                    line-height: 1.3;
                    font-size: 22px;
                    font-family:  $serif;
                    @include media(tab){
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
    
    @include media(sp){
        font-size: 14px;
    }
    body{
        font-family: $serif;
        line-height: 2;
        
        a{
            text-decoration: none;
            color: #000000;
            transition: all 0.3s;
            
            &:hover{
                opacity: 0.75;
            }
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
}

header{
    background: $white;
    transition: background 0.3s;
    position: sticky;
    z-index: 999999;
    top: 0;
    padding: 12px 30px;
    @include media(tab){
        padding: 12px;
    }
    
    .inner{
        display: flex;
        align-items: center;
        
        .navigation{
            margin-left: auto;
            
            &.is_pc{
                ul{
                    display: flex;
                    gap: 30px;
                    font-family: $serif;
                    font-weight: 600;
                }
            }
            &.is_tab{
                #menuToggle{
                    display: block;
                    position: relative;
                    z-index: 1;
                    -webkit-user-select: none;
                    user-select: none;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 5px;
                    
                    a{
                        @include title();
                        font-size: 16px;
                        text-decoration: none;
                        color: #232323;
                        transition: color 0.3s ease;
                        
                        &:hover{
                            color: tomato;
                        }
                    }
                    input{
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        cursor: pointer;
                        opacity: 0; /* hide this */
                        z-index: 2; /* and place it over the hamburger */
                        -webkit-touch-callout: none;
                    }
                    span{
                        display: block;
                        width: 33px;
                        height: 2px;
                        position: relative;
                        background: $black;
                        border-radius: 3px;
                        z-index: 2;
                        transform-origin: 4px 0px;
                        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
                        
                        &:first-child{
                            transform-origin: 0% 0%;
                        }
                        &:nth-last-child(2){
                            transform-origin: 0% 100%;
                        }
                    }
                    input:checked ~ span{
                        opacity: 1;
                        transform: rotate(45deg) translate(-2px, -4px);
                    }
                    input:checked ~ span:nth-last-child(3){
                        opacity: 0;
                        transform: rotate(0deg) scale(0.2, 0.2);
                    }
                    input:checked ~ span:nth-last-child(2){
                        transform: rotate(-45deg) translate(0, 2px);
                    }
                    input:checked ~ ul{
                        transform: translate(80%,0);
                    }
                }
                #menu{
                    height: 100%;
                    position: fixed;
                    font-size: 18px;
                    left: 0;
                    top: 60px;
                    margin: 0;
                    width: 56%;
                    z-index: 1;
                    padding: 1rem;
                    background: url(../img/s10.jpg);
                    list-style-type: none;
                    -webkit-font-smoothing: antialiased;
                    transform-origin: 0% 0%;
                    transform: translate(300%, 0);
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                    
                    li{
                        padding: 10px 0;
                        text-align: left;
                    }
                }
            }
        } 
    }
}

main{
    background-image: url(../img/bg2.png);
    overflow: hidden;
}

.main_visual{
    background-image: url(../img/mv-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    h2{
        padding-top: 40px;
    }
}

.about{
    margin-top: 55px;
    position: relative;
    @include media(sp){
        margin-top: 26px;
    }
    
    .wrap{
        @include wrap();
        
        .title{
            @include title();
        }
        .content{
            .map{
                position: absolute;
                top: 0;
                right: 0;
                @include media(sp){
                    right: -50%;
                }
            }
            p{
                padding: 30px 0 40px;
                text-align: center;
                @include media(sp){
                    padding: 20px 0 30px;
                }
            }
            ul{
                display: flex;
                gap: 40px;
                justify-content: center;
                padding-bottom: 70px;
                @include media(sp){
                    padding-bottom: 30px;
                    flex-wrap: wrap;
                    gap: 14px;
                }
            }
            .link{
                @include button();
            }
        }
    }
}

.commitment{
    .title{
        @include title();
        
        .wrap{
            @include wrap();
            
            h3{
                font-size: 90px;
                font-weight: 400;
                line-height: 1;
                @include media(sp){
                    font-size: 56px;
                }
            }
            p{
                padding: 32px 0;
            }
        }
    }
    .content{
        overflow: hidden;
        
        .bg_special{
            &.special_1{
                @include bgSpecial();
            }
            &.special_2{
                @include bgSpecial(bgspecial2, 2, true);
            }
            &.special_3{
                @include bgSpecial(bgspecial3);
            }
        }
        .wrap{
            @include wrap();
            max-width: 1494px;
            margin-left: 0;
            padding-left: 0;
            
            &.special_right{
                margin-left: auto;
                margin-right: 0;
                padding-left: 1rem;
                padding-right: 0;
                max-width: 1346px;
                
                ul{
                    @media (min-width: 769px){
                        flex-direction: row-reverse;
                        margin-left: 0;
                        margin-right: -220px;
                    }
                    @media (max-width: 768px){
                        margin-top: 0;
                    }
                    
                    li{
                        &:first-child{
                            @media (min-width: 769px){
                                margin-top: -125px;
                                position: relative;
                            }
                            @media (max-width: 768px){
                                margin-right: -60px;
                            }
                            @include media(sp){
                                margin-left: auto;
                            }
                        }
                        &:last-child{
                            position: relative;
                            .image{
                                @media (min-width: 769px){
                                    margin-left: 0;
                                    margin-right: -370px;
                                }
                            }
                            p{
                                @include media(sp){
                                    margin-top: -32px;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
            &.freezer{
                max-width: 1036px;
                margin: auto;
                padding: 0 1rem;
                
                ul{
                    margin-left: 0;
                    margin-top: -140px;
                    position: relative;
                    gap: 40px;
                    @media (max-width: 768px){
                        gap: 0;
                    }
                    
                    li{
                        &:first-child{
                            margin-left: 0;
                        }
                        &:last-child{
                            flex: 1;
                            margin-top: -168px;
                            @media (max-width: 768px){
                                margin-top: 0;
                            }
                            
                            .image{
                                margin-left: -219px;
                            }
                            p{
                                padding: 0;
                            }
                        }
                    }
                }
            }
            ul{
                display: flex;
                margin-left: -220px;
                @media (max-width: 768px){
                    margin-left: 0;
                    flex-direction: column;
                    align-items: center;
                    margin-top: -85px;
                    position: relative;
                }
                
                li{
                    &:first-child{
                        @media (max-width: 768px){
                            margin-left: -30px;
                        }
                    }
                    &:last-child{
                        .image{
                            margin-left: -280px;
                            @media (max-width: 768px){
                                margin-left: 0;
                                display: none;
                            }
                        }
                        p{
                            padding-top: 20px;
                            @include media(sp){
                                padding: 0 1rem;
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }
        .link_wrap{
            @include wrap();
            
            .link{
                @include button();
                margin-top: 90px;
                @include media(sp){
                    margin-top: 30px;
                }
            }
        }
    }
}

.order{
    padding: 0 0 90px 0;
    @include media(tab){
        padding: 0px 0 50px;
    }
    
    .wrap{
        @include wrap();
        
        .order_set{
            @include sales();
        }
        .order_single{
            @include sales();
            
            &-img{
                @include media(tab){
                    gap: 15px;
                }
                
                a{
                    @include media(tab){
                        max-width: calc(100% / 2 - 7.5px);
                        
                        h4{
                            font-size: 14px;
                            margin: 0;
                        }
                    }
                    img{
                        padding-bottom: 8px;
                    }
                }
            }
        }
    }
}

.contact{
    padding: 50px 0 60px;
    background-color:$white;
    @include media(sp){
        padding: 25px 0 50px;
    }
    
    .wrap{
        @include wrap();
        
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 33px;
            justify-content: space-between;
            position: relative;
            @media screen and (max-width: 800px) {
                flex-direction: column;
                align-items: center;
            }
            
            li{
                padding-bottom: 30px;
                @include title();
                @media screen and (max-width: 800px) {
                    &:nth-child(2){
                        border-bottom: 1px solid;
                    }
                }
                
                &.slash{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    @media screen and (max-width: 800px) {
                        display: none;
                    }
                }
                h3{
                    font-size: 15px;
                    background-color: $black;
                    color: $white;
                    padding: 0 5px;
                    display: inline-block;
                    @include media(sp){
                        font-size: 14px;
                    }
                }
                h4{
                    font-size: 24px;
                    line-height: 1.7;
                    padding-bottom: 0.7rem;
                    @include media(sp){
                        font-size: 22px;
                    }
                }
                p{
                    font-weight: 400;
                }
            }
        }
        .box{
            border: 1px solid;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            @media screen and (max-width: 600px) {
                flex-direction: column;
                gap: 0;
                
                .h7{
                    line-height: 1;
                    transform: rotate(90deg);
                }
            }
            
            h5{
                font-size: 24px;
                @include title();
                @include media(sp){
                    font-size: 18px;
                }
            }
            h6{
                @include title();
                font-size: 30px;
                display: flex;
                align-items: center;
                gap: 6px;
            }
        }
    }
}

footer{
    padding: 17px 0;
    background-color: #242228;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    @include media(sp){
        padding: 20px 0;
    }
    
    .wrap{
        @include wrap();
        @include media(sp){
            padding-bottom: 78px;
        }
        
        .sns{
            max-width: 116px;
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            justify-content: space-between;
            margin: auto;
            padding: 40px 0;
        }
        p{
            font-size: 13px;
            padding: 20px 0 24px;
            @include media(sp){
                padding: 18px 0 20px;
            }
        }
        ul{
            font-size: 14px;
            display: flex;
            gap: 1rem;
            justify-content: center;
            flex-wrap: wrap;
            @include media(sp){
                line-height: 1.2;
            }
            
            li{
                a{
                    color: #FFFFFF;
                }
            }
        }
    }
    .footer_fixed{
        display: none;
        @include media(tab){
            display: block;
        }
        
        a{
            // @include btn(100%, 58px);
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            transform: translateY(100px);
            transition: 0.5s;
            width: 102% !important;
            left: -2% !important;
            height: 76px;
            background-size: cover !important;
        }
    }
}

.onlysptab{
    pointer-events: none;
    @include media(tab){
        pointer-events: visible;
    }
}

.loading{
    position: fixed;
    top: 0;
    z-index: 9999999;
    width: 100%;
    background: rgba(0,0,0,0.7);
    height: 100%;
    
    .inner{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        $color_1: rgba(90, 90, 90, 0.2);
        $border-right-color_1: #5a5a5a;
        
        @keyframes rotate {
            0% {
                transform: rotate(0);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        .sbl-circ-path {
            height: 48px;
            width: 48px;
            color: $color_1;
            position: relative;
            display: inline-block;
            border: 5px solid;
            border-radius: 50%;
            border-right-color: $border-right-color_1;
            animation: rotate 1s linear infinite;
        }
    }
}
@keyframes circle-ripple {
    0% {
        height: 0;
        width: 0;
        left: 20px;
        top: 20px; 
    }
    100% {
        height: 48px;
        width: 48px;
        left: -5px;
        top: -5px;
        opacity: 0; 
    } 
}
