/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
.is_pc,
.is_tab,
.is_onlytab,
.is_sp {
  display: none;
}

@media screen and (max-width: 480px) {
  .is_sp {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .is_tab {
    display: block;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .is_onlytab {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .is_pc {
    display: block;
  }
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
html body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 2;
}
html body a {
  text-decoration: none;
  color: #000000;
}
html body img {
  max-width: 100%;
  height: auto;
}

header {
  background: #FFFFFF;
  transition: background 0.3s;
  position: sticky;
  z-index: 999999;
  top: 0;
  padding: 12px 30px;
}
@media screen and (max-width: 1024px) {
  header {
    padding: 12px;
  }
}
header .inner {
  display: flex;
  align-items: center;
}
header .inner .navigation {
  margin-left: auto;
}
header .inner .navigation.is_pc ul {
  display: flex;
  gap: 30px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
}
header .inner .navigation.is_tab #menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
header .inner .navigation.is_tab #menuToggle a {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
header .inner .navigation.is_tab #menuToggle a:hover {
  color: tomato;
}
header .inner .navigation.is_tab #menuToggle input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
header .inner .navigation.is_tab #menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 2;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
header .inner .navigation.is_tab #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
header .inner .navigation.is_tab #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
header .inner .navigation.is_tab #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -4px);
}
header .inner .navigation.is_tab #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
header .inner .navigation.is_tab #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 2px);
}
header .inner .navigation.is_tab #menuToggle input:checked ~ ul {
  transform: translate(80%, 0);
}
header .inner .navigation.is_tab #menu {
  height: 100%;
  position: fixed;
  font-size: 18px;
  left: 0;
  top: 60px;
  margin: 0;
  width: 56%;
  z-index: 1;
  padding: 1rem;
  background: url(../img/s10.jpg);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(300%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
header .inner .navigation.is_tab #menu li {
  padding: 10px 0;
  text-align: left;
}

main {
  background-image: url(../img/bg2.png);
}

.main_visual {
  background-image: url(../img/mv-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.main_visual h2 {
  padding-top: 40px;
}

.about {
  margin-top: 55px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .about {
    margin-top: 26px;
  }
}
.about .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
  font-family: "Noto Serif JP", serif;
}
.about .wrap .title {
  text-align: center;
  padding-top: 100px;
}
@media screen and (max-width: 480px) {
  .about .wrap .title {
    padding-top: 50px;
  }
}
.about .wrap .content .map {
  position: absolute;
  top: 0;
  right: 0;
}
.about .wrap .content p {
  padding: 30px 0 40px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .about .wrap .content p {
    padding: 20px 0 30px;
  }
}
.about .wrap .content ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-bottom: 70px;
}
@media screen and (max-width: 480px) {
  .about .wrap .content ul {
    padding-bottom: 30px;
    flex-wrap: wrap;
    gap: 14px;
  }
}
.ika {
  background-color: #171717;
  color: #FFFFFF;
  padding: 160px 0 140px;
  font-family: "Noto Serif JP", serif;
  position: relative;
}
@media screen and (max-width: 480px) {
  .ika {
    padding: 60px 0 50px;
  }
}
.ika:before {
  content: "";
  background-image: url(../img/bg_ika.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.ika .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  writing-mode: vertical-rl;
  padding-bottom: 100px;
}
@media screen and (max-width: 480px) {
  .ika .title {
    padding-bottom: 40px;
  }
}
.ika .title h3 {
  font-size: 28px;
  padding-top: 1rem;
}
@media screen and (max-width: 480px) {
  .ika .title h3 {
    font-size: 16px;
  }
}
.ika .title h4 {
  font-size: 55px;
  position: relative;
  padding: 30px 0 40px;
}
@media screen and (max-width: 480px) {
  .ika .title h4 {
    font-size: 34px;
    padding: 22px 0 28px;
  }
}
.ika .title h4 svg {
  position: absolute;
}
@media screen and (max-width: 480px) {
  .ika .title h4 svg {
    width: 45px;
  }
}
.ika .title h4 svg:first-of-type {
  top: 0;
  right: 10px;
}
.ika .title h4 svg:last-of-type {
  bottom: 0;
  left: 0;
}
.ika .content01, .ika .enjoy .wrap .content02, .enjoy .wrap .ika .content02 {
  padding-right: 1rem;
  padding-bottom: 65px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .ika .content01, .ika .enjoy .wrap .content02, .enjoy .wrap .ika .content02 {
    padding-bottom: 32px;
  }
}
.ika .content02 {
  position: relative;
}
.ika .content02 .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
.ika .content02 .wrap ul {
  display: flex;
  gap: 54px;
  padding-bottom: 128px;
}
@media screen and (max-width: 480px) {
  .ika .content02 .wrap ul {
    display: block;
    padding-bottom: 50px;
  }
}
.ika .content02 .wrap ul li h5 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.7;
  padding-bottom: 40px;
}
@media screen and (max-width: 480px) {
  .ika .content02 .wrap ul li h5 {
    font-size: 18px;
    padding-bottom: 20px;
  }
}
.ika .content02 .wrap ul li > p {
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 58px;
}
@media screen and (max-width: 480px) {
  .ika .content02 .wrap ul li > p {
    padding-bottom: 40px;
  }
}
.ika .content02 .wrap ul li .content_custom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ika .content02 .wrap ul li .content_custom .circle {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .ika .content02 .wrap ul li .content_custom .circle {
    justify-content: center;
    gap: 28px;
    max-width: 395px;
  }
}
@media screen and (max-width: 480px) {
  .ika .content02 .wrap ul li .content_custom .circle {
    flex: 1;
  }
}
.ika .content02 .wrap ul li .content_custom .circle p {
  font-weight: 500;
  font-size: 24px;
  width: 179px;
  height: 179px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.7;
}
@media screen and (max-width: 1024px) {
  .ika .content02 .wrap ul li .content_custom .circle p {
    width: 104px;
    height: 104px;
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .ika .content02 .wrap ul li .content_custom .circle p:first-of-type {
    margin: 0 5rem;
  }
}
@media screen and (max-width: 480px) {
  .ika .content02 .wrap ul li .content_custom .circle p:first-of-type {
    margin: 0 4rem;
  }
}
.ika .content02 .wrap ul li .content_custom .circle p:last-of-type {
  padding-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .ika .content02 .wrap ul li .content_custom .circle p:last-of-type {
    padding-top: 1rem;
  }
}
.ika .content02 .wrap ul li .content_custom > picture {
  width: 110px;
}
.ika .content02 .wrap .center_btn {
  text-align: center;
}
.ika .content02 .wrap .center_btn a {
  background-image: url(../img/btn.png);
  width: 720px;
  height: 99px;
  background-size: 720px 99px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  position: relative;
}
.ika .content02 .wrap .center_btn a svg {
  position: absolute;
  right: 100px;
}
@media screen and (max-width: 750px) {
  .ika .content02 .wrap .center_btn a {
    width: 100%;
    background-size: 100% 99px;
  }
}
@media screen and (max-width: 680px) {
  .ika .content02 .wrap .center_btn a svg {
    right: 35px;
  }
}
@media screen and (max-width: 480px) {
  .ika .content02 .wrap .center_btn a {
    font-size: 20px;
  }
  .ika .content02 .wrap .center_btn a svg {
    width: 43px;
    right: 20px;
  }
}
@media screen and (max-width: 480px) {
  .ika .content02 .wrap .center_btn a {
    background-image: url(../img/btn.png);
    width: 100%;
    height: 58px;
    background-size: 100% 58px;
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    font-size: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: relative;
  }
  .ika .content02 .wrap .center_btn a svg {
    position: absolute;
    right: 100px;
  }
}
@media screen and (max-width: 480px) and (max-width: 750px) {
  .ika .content02 .wrap .center_btn a {
    width: 100%;
    background-size: 100% 58px;
  }
}
@media screen and (max-width: 480px) and (max-width: 680px) {
  .ika .content02 .wrap .center_btn a svg {
    right: 35px;
  }
}
@media screen and (max-width: 480px) and (max-width: 480px) {
  .ika .content02 .wrap .center_btn a {
    font-size: 20px;
  }
  .ika .content02 .wrap .center_btn a svg {
    width: 43px;
    right: 20px;
  }
}

.manufacture {
  padding: 120px 0 94px;
}
@media screen and (max-width: 480px) {
  .manufacture {
    padding: 60px 0 40px;
  }
}
.manufacture .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
.manufacture .wrap .title {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 30px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  line-height: 1.5;
  padding: 18px 0;
}
@media screen and (max-width: 480px) {
  .manufacture .wrap .title {
    font-size: 16px;
    padding: 10px 0;
  }
}
.manufacture .wrap .title span {
  font-size: 40px;
}
@media screen and (max-width: 480px) {
  .manufacture .wrap .title span {
    font-size: 22px;
  }
}
.manufacture .wrap .subtitle {
  margin-top: 55px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .manufacture .wrap .subtitle {
    margin-top: 30px;
    font-size: 20px;
  }
}
.manufacture .wrap ul {
  margin-top: 23px;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  gap: 46px;
}
@media screen and (max-width: 954px) {
  .manufacture .wrap ul {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  .manufacture .wrap ul {
    gap: 29px;
  }
}
@media screen and (max-width: 480px) {
  .manufacture .wrap ul {
    margin-top: 18px;
    margin-bottom: 45px;
  }
}
.manufacture .wrap ul li:last-child {
  flex: 1;
}
@media screen and (max-width: 954px) {
  .manufacture .wrap ul li:last-child {
    flex: unset;
  }
}
.manufacture .wrap ul li h5 {
  font-size: 15px;
  padding-bottom: 26px;
}
@media screen and (max-width: 480px) {
  .manufacture .wrap ul li h5 {
    font-size: 14px;
  }
}
.manufacture .wrap ul li figure {
  text-align: center;
}
.manufacture .wrap ul li figure figcaption {
  border: 1px solid;
  padding: 5px 1rem;
  display: flex;
  justify-content: center;
  gap: 11px;
  line-height: 1.5;
  align-items: center;
  max-width: 450px;
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: -15px;
}
@media screen and (max-width: 954px) {
  .manufacture .wrap ul li figure figcaption {
    display: block;
  }
  .manufacture .wrap ul li figure figcaption .h7 {
    display: none;
  }
}
.manufacture .wrap ul li figure figcaption:before, .manufacture .wrap ul li figure figcaption:after, .manufacture .order .wrap ul li figure .order_set figcaption.title::before, .order .manufacture .wrap ul li figure .order_set figcaption.title::before, .manufacture .order .wrap .order_set ul li figure figcaption.title::before, .order .manufacture .wrap .order_set ul li figure figcaption.title::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-bottom-style: solid;
  border-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-bottom: 0;
  border-bottom-width: 0px;
  transform: rotate(180deg);
}
.manufacture .wrap ul li figure figcaption:before {
  top: -9px;
  border-top-color: #000000;
  border-width: 9px 6px 0 6px;
}
.manufacture .wrap ul li figure figcaption:after, .manufacture .order .wrap ul li figure .order_set figcaption.title::before, .order .manufacture .wrap ul li figure .order_set figcaption.title::before, .manufacture .order .wrap .order_set ul li figure figcaption.title::before, .order .manufacture .wrap .order_set ul li figure figcaption.title::before {
  top: -8px;
  border-top-color: #FFFFFF;
  border-width: 9px 5px 0 5px;
}
@media screen and (max-width: 954px) {
  .manufacture .wrap ul li figure figcaption:after, .manufacture .order .wrap ul li figure .order_set figcaption.title::before, .order .manufacture .wrap ul li figure .order_set figcaption.title::before, .manufacture .order .wrap .order_set ul li figure figcaption.title::before, .order .manufacture .wrap .order_set ul li figure figcaption.title::before {
    border-width: 9px 6px 0 6px;
  }
}
.manufacture .wrap ul li figure figcaption h6 {
  font-size: 15px;
}
.manufacture .wrap ul li figure figcaption p {
  font-size: 22px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .manufacture .wrap ul li figure figcaption p {
    font-size: 20px;
  }
}
.manufacture .wrap ul li .square {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .manufacture .wrap ul li .square {
    gap: 2px;
  }
}
.manufacture .wrap ul li .square p {
  width: 220px;
  font-size: 18px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  text-align: center;
  border: 1px solid;
  line-height: 1.5;
  padding: 5px 0;
}
@media screen and (max-width: 480px) {
  .manufacture .wrap ul li .square p {
    width: 165px;
    font-size: 14px;
  }
}
.manufacture .wrap ul li .square h6 {
  font-size: 30px;
}
@media screen and (max-width: 480px) {
  .manufacture .wrap ul li .square h6 {
    font-size: 24px;
  }
}
.manufacture .wrap .center_btn {
  text-align: center;
}
.manufacture .wrap .center_btn a {
  background-image: url(../img/btn.png);
  width: 720px;
  height: 99px;
  background-size: 720px 99px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  position: relative;
}
.manufacture .wrap .center_btn a svg {
  position: absolute;
  right: 100px;
}
@media screen and (max-width: 750px) {
  .manufacture .wrap .center_btn a {
    width: 100%;
    background-size: 100% 99px;
  }
}
@media screen and (max-width: 680px) {
  .manufacture .wrap .center_btn a svg {
    right: 35px;
  }
}
@media screen and (max-width: 480px) {
  .manufacture .wrap .center_btn a {
    font-size: 20px;
  }
  .manufacture .wrap .center_btn a svg {
    width: 43px;
    right: 20px;
  }
}
@media screen and (max-width: 480px) {
  .manufacture .wrap .center_btn a {
    background-image: url(../img/btn.png);
    width: 100%;
    height: 58px;
    background-size: 100% 58px;
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    font-size: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: relative;
  }
  .manufacture .wrap .center_btn a svg {
    position: absolute;
    right: 100px;
  }
}
@media screen and (max-width: 480px) and (max-width: 750px) {
  .manufacture .wrap .center_btn a {
    width: 100%;
    background-size: 100% 58px;
  }
}
@media screen and (max-width: 480px) and (max-width: 680px) {
  .manufacture .wrap .center_btn a svg {
    right: 35px;
  }
}
@media screen and (max-width: 480px) and (max-width: 480px) {
  .manufacture .wrap .center_btn a {
    font-size: 20px;
  }
  .manufacture .wrap .center_btn a svg {
    width: 43px;
    right: 20px;
  }
}

.enjoy {
  background-image: url(../img/frezerBgBig.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 130px;
}
@media screen and (max-width: 480px) {
  .enjoy {
    padding: 42px 0 40px;
  }
}
.enjoy .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
.enjoy .wrap .title {
  font-family: "Noto Serif JP", serif;
  text-align: center;
}
.enjoy .wrap .title h3 {
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .title h3 {
    font-size: 16px;
  }
}
.enjoy .wrap .title h4 {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.5;
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .title h4 {
    font-size: 26px;
  }
}
.enjoy .wrap .content01, .enjoy .wrap .content02 {
  background-image: url(../img/s11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 22px 40px;
  margin-top: 50px;
  min-height: 210px;
}
@media screen and (max-width: 1024px) {
  .enjoy .wrap .content01, .enjoy .wrap .content02 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content01, .enjoy .wrap .content02 {
    padding: 1rem;
    gap: 0;
  }
}
.enjoy .wrap .content01 h5, .enjoy .wrap .content02 h5 {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  color: #B08E38;
  font-size: 55px;
  align-self: flex-start;
  line-height: 1;
  margin-top: -50px;
}
@media screen and (max-width: 1024px) {
  .enjoy .wrap .content01 h5, .enjoy .wrap .content02 h5 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content01 h5, .enjoy .wrap .content02 h5 {
    font-size: 40px;
    margin-top: -40px;
  }
}
.enjoy .wrap .content01 h6, .enjoy .wrap .content02 h6 {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.7;
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content01 h6, .enjoy .wrap .content02 h6 {
    font-size: 19px;
  }
}
.enjoy .wrap .content01 .caption, .enjoy .wrap .content02 .caption {
  padding-left: 40px;
}
@media screen and (max-width: 1024px) {
  .enjoy .wrap .content01 .caption, .enjoy .wrap .content02 .caption {
    padding: 0;
  }
}
.enjoy .wrap .content01 .caption p, .enjoy .wrap .content02 .caption p {
  font-size: 15px;
  line-height: 1.7;
  padding-top: 15px;
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content01 .caption p, .enjoy .wrap .content02 .caption p {
    font-size: 14px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .enjoy .wrap .content01 .for_sp, .enjoy .wrap .content02 .for_sp {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
.enjoy .wrap .content02 .for_sp {
  padding-top: 1rem;
  gap: 30px;
}
.enjoy .wrap .content03 {
  padding: 45px 0 70px;
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content03 {
    padding: 30px 0 35px;
  }
}
.enjoy .wrap .content03 ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content03 ul {
    gap: 26px;
  }
}
.enjoy .wrap .content03 ul li {
  max-width: 480px;
  width: 100%;
}
.enjoy .wrap .content03 ul li h3 {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 20px;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content03 ul li h3 {
    font-size: 18px;
  }
}
.enjoy .wrap .content03 ul li p {
  font-size: 15px;
  padding-top: 1rem;
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content03 ul li p {
    font-size: 1rem;
  }
}
.enjoy .wrap .content04 {
  background-color: #FFFFFF;
  padding: 50px;
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content04 {
    padding: 1rem 10px;
  }
}
.enjoy .wrap .content04 ul {
  display: flex;
  gap: 40px;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .enjoy .wrap .content04 ul {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content04 ul {
    gap: 1rem;
  }
}
.enjoy .wrap .content04 ul li:first-child {
  max-width: 287px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .enjoy .wrap .content04 ul li:first-child {
    max-width: none;
    text-align: center;
  }
}
.enjoy .wrap .content04 ul li:last-child {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content04 ul li:last-child {
    gap: 12px;
  }
}
@media screen and (max-width: 1024px) {
  .enjoy .wrap .content04 ul li:last-child figure {
    width: 48%;
  }
  .enjoy .wrap .content04 ul li:last-child figure picture img {
    width: 100%;
  }
}
.enjoy .wrap .content04 ul li:last-child figure figcaption {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Noto Serif JP", serif;
  background-color: #F0F0F0;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content04 ul li:last-child figure figcaption {
    font-size: 15px;
  }
}
.enjoy .wrap .content04 ul li h3 {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.5;
}
@media screen and (max-width: 480px) {
  .enjoy .wrap .content04 ul li h3 {
    font-size: 24px;
  }
}
.enjoy .wrap .content04 ul li dl {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-top: 32px;
}
.enjoy .wrap .content04 ul li dl dt {
  font-size: 18px;
  font-weight: 600;
  font-family: "Noto Serif JP", serif;
  background-color: #F0F0F0;
  text-align: center;
}

.order {
  padding: 108px 0 90px;
}
@media screen and (max-width: 480px) {
  .order {
    padding: 54px 0 60px;
  }
}
.order .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
.order .wrap .order_set {
  text-align: center;
  margin-bottom: 40px;
}
.order .wrap .order_set .title {
  display: flex;
  align-items: center;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  line-height: 1.8;
  padding-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .order .wrap .order_set .title {
    padding-bottom: 10px;
    font-size: 15px;
  }
}
.order .wrap .order_set .title::after, .order .wrap .order_set .title::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: black;
  margin-left: 25px;
  margin-top: 10px;
}
.order .wrap .order_set .title::before {
  margin-left: 0;
  margin-right: 25px;
}
.order .wrap .order_set p {
  padding-bottom: 40px;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_set p {
    padding-bottom: 10px;
  }
}
.order .wrap .order_set .order_set-img {
  display: flex;
  justify-content: left;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_set .order_set-img {
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_set .order_set-img a figure img {
    width: 380px;
    max-width: 100%;
  }
}
.order .wrap .order_set .order_set-img a figcaption {
  margin: 0;
  text-align: left;
}
.order .wrap .order_set .order_set-img a figcaption h4 {
  line-height: 1.3;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
}
.order .wrap .order_set .order_set-img a figcaption p {
  line-height: 1.3;
  font-size: 20px;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_set .order_set-img a figcaption p {
    padding-bottom: 0px;
  }
}
.order .wrap .order_single {
  text-align: center;
  margin-bottom: 40px;
}
.order .wrap .order_single .title {
  display: flex;
  align-items: center;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  line-height: 1.8;
  padding-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .order .wrap .order_single .title {
    padding-bottom: 35px;
    font-size: 17px;
  }
}
.order .wrap .order_single .title::after, .order .wrap .order_single .title::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: black;
}
.order .wrap .order_single .title::after, .order .wrap .order_single .order_set .title::before, .order .wrap .order_set .order_single .title::before {
  margin-left: 25px;
  margin-top: 10px;
}
.order .wrap .order_single .title::before {
  margin-right: 25px;
  margin-top: 10px;
}
.order .wrap .order_single p {
  padding-bottom: 30px;
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
}
.order .wrap .order_single .order_single-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_single .order_single-img {
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_single .order_single-img a {
    max-width: calc(50% - 7.5px);
  }
  .order .wrap .order_single .order_single-img a h4 {
    font-size: 14px;
    margin: 0;
  }
  .order .wrap .order_single .order_single-img a p {
    font-size: 20px;
  }
}
.order .wrap .order_single .order_single-img a figcaption {
  margin: 0;
  text-align: left;
}
.order .wrap .order_single .order_single-img a figcaption h4 {
  line-height: 1.3;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
}
.order .wrap .order_single .order_single-img a figcaption p {
  line-height: 1.3;
  font-size: 20px;
  font-family: "Noto Serif JP", serif;
  padding-bottom: 0;
}
.order .wrap .content {
  padding-bottom: 90px;
}
@media screen and (max-width: 480px) {
  .order .wrap .content {
    padding-bottom: 37px;
  }
}
.order .wrap .content ul {
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .order .wrap .content ul {
    gap: 22px;
  }
}
.order .wrap .content ul li:first-child figure {
  position: relative;
  padding: 0 0 15px 15px;
}
@media screen and (max-width: 480px) {
  .order .wrap .content ul li:first-child figure {
    padding: 0 0 10px 10px;
  }
}
.order .wrap .content ul li:first-child figure::before {
  content: "";
  background-image: url(../img/pattern3.jpg);
  position: absolute;
  width: 500px;
  height: 399px;
  z-index: -1;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 600px) {
  .order .wrap .content ul li:first-child figure::before {
    width: 337px;
    height: 215px;
  }
}
.order .wrap .content ul li:first-child figure figcaption {
  width: 126px;
  height: 126px;
  background-color: #B08E38;
  color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.3;
  top: -8%;
  left: -3%;
}
@media screen and (max-width: 480px) {
  .order .wrap .content ul li:first-child figure figcaption {
    width: 88px;
    height: 88px;
  }
}
.order .wrap .content ul li:first-child figure figcaption p {
  font-size: 14px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .order .wrap .content ul li:first-child figure figcaption p {
    font-size: 10px;
  }
}
.order .wrap .content ul li:first-child figure figcaption p span {
  font-size: 22px;
}
@media screen and (max-width: 480px) {
  .order .wrap .content ul li:first-child figure figcaption p span {
    font-size: 14px;
  }
}
.order .wrap .content ul li:last-child {
  max-width: 440px;
  width: 100%;
}
.order .wrap .content ul li:last-child h4 {
  text-align: center;
  position: relative;
}
.order .wrap .content ul li:last-child h4 span {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 24px;
  padding: 19px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .order .wrap .content ul li:last-child h4 span {
    padding: 16px;
    font-size: 18px;
  }
}
.order .wrap .content ul li:last-child h4::before {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
  background-color: #000000;
}
.order .wrap .content ul li:last-child .price {
  padding-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .order .wrap .content ul li:last-child .price {
    padding-bottom: 20px;
  }
}
.order .wrap .content ul li:last-child .price p {
  padding-top: 6px;
  display: flex;
  gap: 22px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .order .wrap .content ul li:last-child .price p {
    padding: 0;
  }
}
.order .wrap .content ul li:last-child .price p span {
  font-family: "Noto Serif JP", serif;
}
.order .wrap .content ul li:last-child .price p span:nth-of-type(1) {
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .order .wrap .content ul li:last-child .price p span:nth-of-type(1) {
    font-size: 18px;
  }
}
.order .wrap .content ul li:last-child .price p span:nth-of-type(3) {
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .order .wrap .content ul li:last-child .price p span:nth-of-type(3) {
    font-size: 22px;
  }
}
.order .wrap .content ul li:last-child table, .order .wrap .content ul li:last-child th, .order .wrap .content ul li:last-child table tr td, .order .wrap .content ul li:last-child td {
  border: 1px solid black;
  border-collapse: collapse;
  line-height: 1.5;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .order .wrap .content ul li:last-child table, .order .wrap .content ul li:last-child th, .order .wrap .content ul li:last-child table tr td, .order .wrap .content ul li:last-child td {
    font-size: 13px;
  }
}
.order .wrap .content ul li:last-child table tr th, .order .wrap .content ul li:last-child table tr td {
  font-weight: normal;
  padding: 5px 1rem;
  width: 90px;
  vertical-align: middle;
}
.order .wrap .content ul li:last-child table tr td {
  width: auto;
}
.order .wrap .center_btn {
  text-align: center;
}
.order .wrap .center_btn a {
  background-image: url(../img/btn.png);
  width: 720px;
  height: 99px;
  background-size: 720px 99px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  position: relative;
}
.order .wrap .center_btn a svg {
  position: absolute;
  right: 100px;
}
@media screen and (max-width: 750px) {
  .order .wrap .center_btn a {
    width: 100%;
    background-size: 100% 99px;
  }
}
@media screen and (max-width: 680px) {
  .order .wrap .center_btn a svg {
    right: 35px;
  }
}
@media screen and (max-width: 480px) {
  .order .wrap .center_btn a {
    font-size: 20px;
  }
  .order .wrap .center_btn a svg {
    width: 43px;
    right: 20px;
  }
}
@media screen and (max-width: 480px) {
  .order .wrap .center_btn a {
    background-image: url(../img/btn.png);
    width: 100%;
    height: 58px;
    background-size: 100% 58px;
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    font-size: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: relative;
  }
  .order .wrap .center_btn a svg {
    position: absolute;
    right: 100px;
  }
}
@media screen and (max-width: 480px) and (max-width: 750px) {
  .order .wrap .center_btn a {
    width: 100%;
    background-size: 100% 58px;
  }
}
@media screen and (max-width: 480px) and (max-width: 680px) {
  .order .wrap .center_btn a svg {
    right: 35px;
  }
}
@media screen and (max-width: 480px) and (max-width: 480px) {
  .order .wrap .center_btn a {
    font-size: 20px;
  }
  .order .wrap .center_btn a svg {
    width: 43px;
    right: 20px;
  }
}
.order .wrap .additional {
  margin-top: 90px;
  padding: 29px 1rem;
  background-image: url(../img/msg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.order .wrap .additional .add_line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .order .wrap .additional .add_line svg {
    width: 110px;
    height: 50px;
  }
}
.order .wrap .additional .add_line svg:last-of-type {
  transform: rotate(180deg);
  position: absolute;
  right: 0;
  bottom: 0;
}
.order .wrap .additional h3 {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  padding-bottom: 22px;
  line-height: 1.7;
}
@media screen and (max-width: 480px) {
  .order .wrap .additional h3 {
    padding-bottom: 20px;
    font-size: 20px;
  }
}
.order .wrap .additional p {
  font-size: 15px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .order .wrap .additional p {
    font-size: 1rem;
    text-align: left;
  }
}

.contact {
  padding: 50px 0 60px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .contact {
    padding: 25px 0 50px;
  }
}
.contact .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
.contact .wrap ul {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 800px) {
  .contact .wrap ul {
    flex-direction: column;
    align-items: center;
  }
}
.contact .wrap ul li {
  padding-bottom: 30px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  .contact .wrap ul li:nth-child(2) {
    border-bottom: 1px solid;
  }
}
.contact .wrap ul li.slash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 800px) {
  .contact .wrap ul li.slash {
    display: none;
  }
}
.contact .wrap ul li h3 {
  font-size: 15px;
  background-color: #000000;
  color: #FFFFFF;
  padding: 0 5px;
  display: inline-block;
}
@media screen and (max-width: 480px) {
  .contact .wrap ul li h3 {
    font-size: 14px;
  }
}
.contact .wrap ul li h4 {
  font-size: 24px;
  line-height: 1.7;
  padding-bottom: 0.7rem;
}
@media screen and (max-width: 480px) {
  .contact .wrap ul li h4 {
    font-size: 22px;
  }
}
.contact .wrap ul li p {
  font-weight: 400;
}
.contact .wrap .box {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 600px) {
  .contact .wrap .box {
    flex-direction: column;
    gap: 0;
  }
  .contact .wrap .box .h7 {
    line-height: 1;
    transform: rotate(90deg);
  }
}
.contact .wrap .box h5 {
  font-size: 24px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .contact .wrap .box h5 {
    font-size: 18px;
  }
}
.contact .wrap .box h6 {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 6px;
}

footer {
  padding: 17px 0;
  background-color: #242228;
  color: #FFFFFF;
  text-align: center;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 480px) {
  footer {
    padding: 20px 0;
  }
}
footer .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
@media screen and (max-width: 480px) {
  footer .wrap {
    padding-bottom: 78px;
  }
}
footer .wrap .sns {
  max-width: 116px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  margin: auto;
  padding: 40px 0;
}
footer .wrap p {
  font-size: 13px;
  padding: 20px 0 24px;
}
@media screen and (max-width: 480px) {
  footer .wrap p {
    padding: 18px 0 20px;
  }
}
footer .wrap ul {
  font-size: 14px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  footer .wrap ul {
    line-height: 1.2;
  }
}
footer .wrap ul li a {
  color: #FFFFFF;
}
footer .footer_fixed {
  display: none;
}
@media screen and (max-width: 1024px) {
  footer .footer_fixed {
    display: block;
  }
}
footer .footer_fixed a {
  background-image: url(../img/btn.png);
  width: 100%;
  height: 58px;
  background-size: 100% 58px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  position: relative;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  transform: translateY(100px);
  transition: 0.5s;
  width: 102% !important;
  left: -2% !important;
  height: 76px;
  background-size: cover !important;
}
footer .footer_fixed a svg {
  position: absolute;
  right: 100px;
}
@media screen and (max-width: 750px) {
  footer .footer_fixed a {
    width: 100%;
    background-size: 100% 58px;
  }
}
@media screen and (max-width: 680px) {
  footer .footer_fixed a svg {
    right: 35px;
  }
}
@media screen and (max-width: 480px) {
  footer .footer_fixed a {
    font-size: 20px;
  }
  footer .footer_fixed a svg {
    width: 43px;
    right: 20px;
  }
}

.onlysptab {
  pointer-events: none;
}
@media screen and (max-width: 1024px) {
  .onlysptab {
    pointer-events: visible;
  }
}

.loading {
  position: fixed;
  top: 0;
  z-index: 9999999;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}
.loading .inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading .inner .sbl-circ-path {
  height: 48px;
  width: 48px;
  color: rgba(90, 90, 90, 0.2);
  position: relative;
  display: inline-block;
  border: 5px solid;
  border-radius: 50%;
  border-right-color: #5a5a5a;
  animation: rotate 1s linear infinite;
}

@keyframes circle-ripple {
  0% {
    height: 0;
    width: 0;
    left: 20px;
    top: 20px;
  }
  100% {
    height: 48px;
    width: 48px;
    left: -5px;
    top: -5px;
    opacity: 0;
  }
}/*# sourceMappingURL=common.css.map */