/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
.is_pc,
.is_tab,
.is_onlytab,
.is_sp {
  display: none;
}

@media screen and (max-width: 480px) {
  .is_sp {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .is_tab {
    display: block;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .is_onlytab {
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .is_pc {
    display: block;
  }
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}
html body {
  font-family: "Noto Serif JP", serif;
  line-height: 2;
}
html body a {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s;
}
html body a:hover {
  opacity: 0.75;
}
html body img {
  max-width: 100%;
  height: auto;
}

header {
  background: #FFFFFF;
  transition: background 0.3s;
  position: sticky;
  z-index: 999999;
  top: 0;
  padding: 12px 30px;
}
@media screen and (max-width: 1024px) {
  header {
    padding: 12px;
  }
}
header .inner {
  display: flex;
  align-items: center;
}
header .inner .navigation {
  margin-left: auto;
}
header .inner .navigation.is_pc ul {
  display: flex;
  gap: 30px;
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
}
header .inner .navigation.is_tab #menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
header .inner .navigation.is_tab #menuToggle a {
  text-align: center;
  padding-top: 100px;
  font-size: 16px;
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
@media screen and (max-width: 480px) {
  header .inner .navigation.is_tab #menuToggle a {
    padding-top: 50px;
  }
}
header .inner .navigation.is_tab #menuToggle a:hover {
  color: tomato;
}
header .inner .navigation.is_tab #menuToggle input {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
header .inner .navigation.is_tab #menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 2;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
header .inner .navigation.is_tab #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
header .inner .navigation.is_tab #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
header .inner .navigation.is_tab #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -4px);
}
header .inner .navigation.is_tab #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
header .inner .navigation.is_tab #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, 2px);
}
header .inner .navigation.is_tab #menuToggle input:checked ~ ul {
  transform: translate(80%, 0);
}
header .inner .navigation.is_tab #menu {
  height: 100%;
  position: fixed;
  font-size: 18px;
  left: 0;
  margin: 0;
  width: 56%;
  z-index: 1;
  padding: 1rem;
  background: #0D1037;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(300%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
@media screen and (max-width: 1024px) {
  header .inner .navigation.is_tab #menu {
    top: 72px;
  }
}
@media screen and (max-width: 480px) {
  header .inner .navigation.is_tab #menu {
    top: 60px;
  }
}
header .inner .navigation.is_tab #menu li {
  padding: 10px 0;
  text-align: left;
}
header .inner .navigation.is_tab #menu li a {
  color: #FFFFFF;
}

main {
  background-image: url(../img/bg2.png);
  overflow: hidden;
}

.main_visual {
  background-image: url(../img/mv-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.main_visual:after, .order .wrap .order_single .main_visual.title::before, .order .wrap .order_set .main_visual.title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
}
.main_visual h2 {
  padding-top: 40px;
}
@media screen and (max-width: 480px) {
  .main_visual h2 {
    height: 100%;
  }
  .main_visual h2 img {
    height: 100%;
    object-fit: contain;
  }
}

.about {
  margin-top: 55px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .about {
    margin-top: 26px;
  }
}
.about .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
.about .wrap .title {
  text-align: center;
  padding-top: 100px;
}
@media screen and (max-width: 480px) {
  .about .wrap .title {
    padding-top: 50px;
  }
}
.about .wrap .content .map {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 480px) {
  .about .wrap .content .map {
    right: -50%;
  }
}
.about .wrap .content p {
  padding: 30px 0 40px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .about .wrap .content p {
    padding: 20px 0 30px;
  }
}
.about .wrap .content ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-bottom: 70px;
}
@media screen and (max-width: 480px) {
  .about .wrap .content ul {
    padding-bottom: 30px;
    flex-wrap: wrap;
    gap: 14px;
  }
}
.about .wrap .content .link {
  text-align: center;
  padding-bottom: 10px;
}
.about .wrap .content .link a {
  width: 100%;
  max-width: 710px;
  height: 90px;
  background-color: #FFFFFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 1px solid;
  border-radius: 50px;
  box-shadow: 6px 6px 0px #000000;
  position: relative;
}
@media screen and (max-width: 480px) {
  .about .wrap .content .link a {
    height: 64px;
    font-size: 22px;
  }
}
.about .wrap .content .link a svg {
  position: absolute;
  right: 38px;
}
@media screen and (max-width: 480px) {
  .about .wrap .content .link a svg {
    width: 34px;
    right: 13px;
  }
}

.commitment .title {
  text-align: center;
  padding-top: 100px;
}
@media screen and (max-width: 480px) {
  .commitment .title {
    padding-top: 50px;
  }
}
.commitment .title .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
.commitment .title .wrap h3 {
  font-size: 90px;
  font-weight: 400;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .commitment .title .wrap h3 {
    font-size: 56px;
  }
}
.commitment .title .wrap p {
  padding: 32px 0;
}
.commitment .content {
  overflow: hidden;
}
.commitment .content .bg_special.special_1 {
  background-image: url(../img/bgspecial.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  position: relative;
}
@media (max-width: 768px) {
  .commitment .content .bg_special.special_1 {
    background-attachment: scroll;
  }
}
.commitment .content .bg_special.special_1:before {
  content: "";
  position: absolute;
  background: url(../img/slice_pattern1.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 274px;
  display: block;
  background-size: 100%;
  z-index: 1;
}
.commitment .content .bg_special.special_1 > img {
  visibility: hidden;
}
@media screen and (min-width: 1025px) {
  .commitment .content .bg_special.special_1 > img {
    height: 30vh;
  }
}
.commitment .content .bg_special.special_1 .triangle {
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .commitment .content .bg_special.special_1 .triangle {
    display: none;
  }
}
.commitment .content .bg_special.special_1:after, .commitment .content .order .wrap .order_single .bg_special.special_1.title::before, .order .wrap .order_single .commitment .content .bg_special.special_1.title::before, .commitment .content .order .wrap .order_set .bg_special.special_1.title::before, .order .wrap .order_set .commitment .content .bg_special.special_1.title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
}
.commitment .content .bg_special.special_2 {
  background-image: url(../img/bgspecial2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  position: relative;
}
@media (max-width: 768px) {
  .commitment .content .bg_special.special_2 {
    background-attachment: scroll;
  }
}
.commitment .content .bg_special.special_2:before {
  content: "";
  position: absolute;
  background: url(../img/slice_pattern2.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 274px;
  display: block;
  background-size: 100%;
  z-index: 1;
}
.commitment .content .bg_special.special_2 > img {
  visibility: hidden;
}
@media screen and (min-width: 1025px) {
  .commitment .content .bg_special.special_2 > img {
    height: 30vh;
  }
}
.commitment .content .bg_special.special_2 .triangle {
  position: relative;
  z-index: 1;
  transform: scaleX(-1);
}
@media (max-width: 768px) {
  .commitment .content .bg_special.special_2 .triangle {
    display: none;
  }
}
.commitment .content .bg_special.special_2:after, .commitment .content .order .wrap .order_single .bg_special.special_2.title::before, .order .wrap .order_single .commitment .content .bg_special.special_2.title::before, .commitment .content .order .wrap .order_set .bg_special.special_2.title::before, .order .wrap .order_set .commitment .content .bg_special.special_2.title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
}
.commitment .content .bg_special.special_3 {
  background-image: url(../img/bgspecial3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  position: relative;
}
@media (max-width: 768px) {
  .commitment .content .bg_special.special_3 {
    background-attachment: scroll;
  }
}
.commitment .content .bg_special.special_3:before {
  content: "";
  position: absolute;
  background: url(../img/slice_pattern1.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 274px;
  display: block;
  background-size: 100%;
  z-index: 1;
}
.commitment .content .bg_special.special_3 > img {
  visibility: hidden;
}
@media screen and (min-width: 1025px) {
  .commitment .content .bg_special.special_3 > img {
    height: 30vh;
  }
}
.commitment .content .bg_special.special_3 .triangle {
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .commitment .content .bg_special.special_3 .triangle {
    display: none;
  }
}
.commitment .content .bg_special.special_3:after, .commitment .content .order .wrap .order_single .bg_special.special_3.title::before, .order .wrap .order_single .commitment .content .bg_special.special_3.title::before, .commitment .content .order .wrap .order_set .bg_special.special_3.title::before, .order .wrap .order_set .commitment .content .bg_special.special_3.title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
}
.commitment .content .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
  max-width: 1494px;
  margin-left: 0;
  padding-left: 0;
}
.commitment .content .wrap.special_right {
  margin-left: auto;
  margin-right: 0;
  padding-left: 1rem;
  padding-right: 0;
  max-width: 1346px;
}
@media (min-width: 769px) {
  .commitment .content .wrap.special_right ul {
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: -220px;
  }
}
@media (max-width: 768px) {
  .commitment .content .wrap.special_right ul {
    margin-top: 0;
  }
}
@media (min-width: 769px) {
  .commitment .content .wrap.special_right ul li:first-child {
    margin-top: -125px;
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  .commitment .content .wrap.special_right ul li:first-child {
    padding-top: 25px;
  }
}
@media screen and (max-width: 480px) {
  .commitment .content .wrap.special_right ul li:first-child {
    margin-left: auto;
  }
}
.commitment .content .wrap.special_right ul li:last-child {
  position: relative;
  z-index: 1;
}
@media (min-width: 769px) {
  .commitment .content .wrap.special_right ul li:last-child .image {
    margin-left: 0;
    margin-right: -370px;
  }
}
@media screen and (max-width: 480px) {
  .commitment .content .wrap.special_right ul li:last-child p {
    margin-top: -32px;
    padding: 0;
  }
}
.commitment .content .wrap.freezer {
  max-width: 1036px;
  margin: auto;
  padding: 0 1rem;
}
.commitment .content .wrap.freezer ul {
  margin-left: 0;
  margin-top: -140px;
  position: relative;
  gap: 40px;
  z-index: 1;
}
@media (max-width: 768px) {
  .commitment .content .wrap.freezer ul {
    gap: 0;
  }
}
@media screen and (max-width: 480px) {
  .commitment .content .wrap.freezer ul {
    margin-top: -70px;
  }
}
.commitment .content .wrap.freezer ul li:first-child {
  margin-left: 0;
}
.commitment .content .wrap.freezer ul li:last-child {
  flex: 1;
  margin-top: -168px;
}
@media (max-width: 768px) {
  .commitment .content .wrap.freezer ul li:last-child {
    margin-top: 0;
  }
}
.commitment .content .wrap.freezer ul li:last-child .image {
  margin-left: -219px;
}
.commitment .content .wrap.freezer ul li:last-child p {
  padding: 0;
}
.commitment .content .wrap ul {
  display: flex;
  margin-left: -220px;
}
@media (max-width: 768px) {
  .commitment .content .wrap ul {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    margin-top: -85px;
    position: relative;
  }
}
@media (max-width: 768px) {
  .commitment .content .wrap ul li:first-child {
    margin-left: -30px;
  }
}
.commitment .content .wrap ul li:last-child .image {
  margin-left: -280px;
}
@media (max-width: 768px) {
  .commitment .content .wrap ul li:last-child .image {
    margin-left: 0;
    display: none;
  }
}
.commitment .content .wrap ul li:last-child p {
  padding-top: 20px;
}
@media screen and (max-width: 480px) {
  .commitment .content .wrap ul li:last-child p {
    padding: 0 1rem;
    padding-top: 10px;
  }
}
.commitment .content .link_wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
.commitment .content .link_wrap .link {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 90px;
}
.commitment .content .link_wrap .link a {
  width: 100%;
  max-width: 710px;
  height: 90px;
  background-color: #FFFFFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 1px solid;
  border-radius: 50px;
  box-shadow: 6px 6px 0px #000000;
  position: relative;
}
@media screen and (max-width: 480px) {
  .commitment .content .link_wrap .link a {
    height: 64px;
    font-size: 22px;
  }
}
.commitment .content .link_wrap .link a svg {
  position: absolute;
  right: 38px;
}
@media screen and (max-width: 480px) {
  .commitment .content .link_wrap .link a svg {
    width: 34px;
    right: 13px;
  }
}
@media screen and (max-width: 480px) {
  .commitment .content .link_wrap .link {
    margin-top: 30px;
  }
}

.way_eat {
  padding-top: 50px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .way_eat {
    padding-top: 0;
  }
}
.way_eat .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
.way_eat .wrap .title {
  text-align: center;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .way_eat .wrap .title {
    padding-top: 50px;
  }
}
.way_eat .wrap .title p {
  padding-top: 25px;
}
@media screen and (max-width: 480px) {
  .way_eat .wrap .title p {
    padding-top: 12px;
    text-align: left;
  }
}
.way_eat .wrap .content .object1 {
  position: absolute;
  top: -60px;
  left: -105px;
}
.way_eat .wrap .content .object2 {
  position: absolute;
  top: 0;
  right: -300px;
}
@media screen and (max-width: 480px) {
  .way_eat .wrap .content .object2 {
    right: -120px;
  }
}
.way_eat .wrap .content ul {
  padding-top: 43px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
@media screen and (max-width: 480px) {
  .way_eat .wrap .content ul {
    padding-top: 21px;
    gap: 18px;
  }
}
.way_eat .wrap .content ul li {
  max-width: 485px;
  width: 100%;
}
.way_eat .wrap .content ul li h3 {
  font-size: 24px;
  margin: 10px 0;
  border-bottom: 1px solid;
}
@media screen and (max-width: 480px) {
  .way_eat .wrap .content ul li h3 {
    font-size: 20px;
    margin: 5px 0;
  }
}
.way_eat .wrap .content .point {
  margin: 47px 0 140px;
  background-color: #C1A972;
  color: #FFFFFF;
  text-align: center;
  padding-top: 100px;
  padding: 12px !important;
}
@media screen and (max-width: 480px) {
  .way_eat .wrap .content .point {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .way_eat .wrap .content .point {
    margin: 23px 0 42px;
    text-align: left;
  }
}
.way_eat .wrap .content .point h3 {
  font-size: 28px;
}
@media screen and (max-width: 480px) {
  .way_eat .wrap .content .point h3 {
    font-size: 22px;
  }
}

.order {
  padding: 0 0 90px 0;
}
@media screen and (max-width: 1024px) {
  .order {
    padding: 0px 0 50px;
  }
}
.order .order_top {
  background-image: url(../img/bgspecial4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  .order .order_top {
    background-attachment: scroll;
  }
}
.order .order_top:before {
  content: "";
  position: absolute;
  background: url(../img/slice_pattern2.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 274px;
  display: block;
  background-size: 100%;
  z-index: 1;
}
.order .order_top > img {
  visibility: hidden;
}
@media screen and (min-width: 1025px) {
  .order .order_top > img {
    height: 30vh;
  }
}
.order .order_top .triangle {
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .order .order_top .triangle {
    display: none;
  }
}
.order .order_top .title {
  padding: 84px 0;
  text-align: center;
}
.order .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
.order .wrap .order_set {
  text-align: center;
  margin-bottom: 30px;
}
.order .wrap .order_set .title {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  font-size: 42px;
  text-align: center;
  line-height: 1.8;
  padding-bottom: 10px;
  padding-top: 0px;
}
@media screen and (max-width: 480px) {
  .order .wrap .order_set .title {
    padding-top: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_set .title {
    padding-bottom: 10px;
    font-size: 30px;
  }
}
.order .wrap .order_set .title::after, .order .wrap .order_set .title::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: black;
  margin-left: 25px;
  margin-top: 10px;
}
.order .wrap .order_set .title::before {
  margin-left: 0;
  margin-right: 25px;
}
.order .wrap .order_set p {
  font-size: 16px;
  padding-bottom: 10px;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_set p {
    padding-bottom: 10px;
    font-size: 15px;
  }
}
.order .wrap .order_set-img {
  display: flex;
  justify-content: left;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_set-img {
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_set-img a figure img {
    width: 380px;
    max-width: 100%;
  }
}
.order .wrap .order_set-img a figcaption {
  margin: 0;
  text-align: left;
}
.order .wrap .order_set-img a figcaption h4 {
  line-height: 1.3;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_set-img a figcaption h4 {
    font-size: 14px;
  }
}
.order .wrap .order_set-img a figcaption p {
  line-height: 1.3;
  font-size: 22px;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_set-img a figcaption p {
    font-size: 20px;
  }
}
.order .wrap .order_single {
  text-align: center;
  margin-bottom: 30px;
}
.order .wrap .order_single .title {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  font-size: 42px;
  text-align: center;
  line-height: 1.8;
  padding-bottom: 10px;
  padding-top: 0px;
}
@media screen and (max-width: 480px) {
  .order .wrap .order_single .title {
    padding-top: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_single .title {
    padding-bottom: 10px;
    font-size: 30px;
  }
}
.order .wrap .order_single .title::after, .order .wrap .order_single .title::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: black;
  margin-left: 25px;
  margin-top: 10px;
}
.order .wrap .order_single .title::before {
  margin-left: 0;
  margin-right: 25px;
}
.order .wrap .order_single p {
  font-size: 16px;
  padding-bottom: 10px;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_single p {
    padding-bottom: 10px;
    font-size: 15px;
  }
}
.order .wrap .order_single-img {
  display: flex;
  justify-content: left;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_single-img {
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_single-img a figure img {
    width: 380px;
    max-width: 100%;
  }
}
.order .wrap .order_single-img a figcaption {
  margin: 0;
  text-align: left;
}
.order .wrap .order_single-img a figcaption h4 {
  line-height: 1.3;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_single-img a figcaption h4 {
    font-size: 14px;
  }
}
.order .wrap .order_single-img a figcaption p {
  line-height: 1.3;
  font-size: 22px;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_single-img a figcaption p {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_single-img {
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .order .wrap .order_single-img a {
    max-width: calc(50% - 7.5px);
  }
  .order .wrap .order_single-img a h4 {
    font-size: 14px;
    margin: 0;
  }
}
.order .wrap .order_single-img a img {
  padding-bottom: 8px;
}

.contact {
  padding: 50px 0 60px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .contact {
    padding: 25px 0 50px;
  }
}
.contact .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
.contact .wrap ul {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 800px) {
  .contact .wrap ul {
    flex-direction: column;
    align-items: center;
  }
}
.contact .wrap ul li {
  padding-bottom: 30px;
  text-align: center;
  padding-top: 100px;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .contact .wrap ul li {
    padding-top: 50px;
  }
}
@media screen and (max-width: 800px) {
  .contact .wrap ul li:nth-child(2) {
    border-bottom: 1px solid;
  }
}
@media screen and (max-width: 480px) {
  .contact .wrap ul li {
    padding-top: 0;
  }
}
.contact .wrap ul li.slash {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 800px) {
  .contact .wrap ul li.slash {
    display: none;
  }
}
.contact .wrap ul li h3 {
  font-size: 15px;
  background-color: #000000;
  color: #FFFFFF;
  padding: 0 5px;
  display: inline-block;
}
@media screen and (max-width: 480px) {
  .contact .wrap ul li h3 {
    font-size: 14px;
  }
}
.contact .wrap ul li h4 {
  font-size: 24px;
  line-height: 1.7;
  padding-bottom: 0.7rem;
}
@media screen and (max-width: 480px) {
  .contact .wrap ul li h4 {
    font-size: 22px;
  }
}
.contact .wrap ul li p {
  font-weight: 400;
}
.contact .wrap .box {
  margin-top: 30px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 600px) {
  .contact .wrap .box {
    flex-direction: column;
    gap: 0;
    margin-top: 0;
    padding: 10px 0;
  }
  .contact .wrap .box .h7 {
    line-height: 1;
    transform: rotate(90deg);
  }
}
.contact .wrap .box h5 {
  font-size: 24px;
  text-align: center;
  padding-top: 100px;
  padding-top: 0;
}
@media screen and (max-width: 480px) {
  .contact .wrap .box h5 {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .contact .wrap .box h5 {
    font-size: 18px;
    padding-top: 0;
  }
}
.contact .wrap .box h6 {
  text-align: center;
  padding-top: 100px;
  padding-top: 0;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 6px;
}
@media screen and (max-width: 480px) {
  .contact .wrap .box h6 {
    padding-top: 50px;
  }
}
@media screen and (max-width: 480px) {
  .contact .wrap .box h6 {
    padding-top: 0;
  }
}

footer {
  padding: 17px 0;
  background-color: #0D1037;
  color: #FFFFFF;
  text-align: center;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 480px) {
  footer {
    padding: 20px 0;
  }
}
footer .wrap {
  max-width: calc(1000px + 1rem + 1rem);
  margin: auto;
  padding: 0 1rem;
}
@media screen and (max-width: 480px) {
  footer .wrap {
    padding-bottom: 78px;
  }
}
footer .wrap .sns {
  max-width: 116px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  margin: auto;
  padding: 40px 0;
}
footer .wrap p {
  font-size: 13px;
  padding: 20px 0 24px;
}
@media screen and (max-width: 480px) {
  footer .wrap p {
    padding: 18px 0 20px;
  }
}
footer .wrap ul {
  font-size: 14px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  footer .wrap ul {
    line-height: 1.2;
  }
}
footer .wrap ul li a {
  color: #FFFFFF;
}
footer .footer_fixed {
  display: none;
}
@media screen and (max-width: 1024px) {
  footer .footer_fixed {
    display: block;
  }
}
footer .footer_fixed .link {
  text-align: center;
  padding-bottom: 10px;
}
footer .footer_fixed .link a {
  width: 100%;
  max-width: 710px;
  height: 90px;
  background-color: #FFFFFF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 1px solid;
  border-radius: 50px;
  box-shadow: 6px 6px 0px #000000;
  position: relative;
}
@media screen and (max-width: 480px) {
  footer .footer_fixed .link a {
    height: 64px;
    font-size: 22px;
  }
}
footer .footer_fixed .link a svg {
  position: absolute;
  right: 38px;
}
@media screen and (max-width: 480px) {
  footer .footer_fixed .link a svg {
    width: 34px;
    right: 13px;
  }
}
footer .footer_fixed .link a {
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(100px);
  transition: 0.5s;
  z-index: 999;
  box-shadow: unset;
  border-radius: 0;
}

.onlysptab {
  pointer-events: none;
}
@media screen and (max-width: 1024px) {
  .onlysptab {
    pointer-events: visible;
  }
}

.loading {
  position: fixed;
  top: 0;
  z-index: 9999999;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}
.loading .inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading .inner .sbl-circ-path {
  height: 48px;
  width: 48px;
  color: rgba(90, 90, 90, 0.2);
  position: relative;
  display: inline-block;
  border: 5px solid;
  border-radius: 50%;
  border-right-color: #5a5a5a;
  animation: rotate 1s linear infinite;
}

@keyframes circle-ripple {
  0% {
    height: 0;
    width: 0;
    left: 20px;
    top: 20px;
  }
  100% {
    height: 48px;
    width: 48px;
    left: -5px;
    top: -5px;
    opacity: 0;
  }
}/*# sourceMappingURL=common.css.map */